# Ignore node_modules folder
node_modules/

# Ignore build artifacts
dist/
build/

# Ignore environment variables and secrets
.env

# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE configuration files
.vscode/
.idea/

# Ignore compiled code
*.out
*.class
