<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PrimitivoUrbano</title>
</head>
<body>
    
    <h1>Primitivo urbano Hader</h1>
    
    {{{ body }}}

    <h2>Footer primitivo urbano</h2>

</body>
</html>